:root { 
--gray_700:#6b4f5b; 
--blue_gray_100:#d9d9d9; 
--gray_500:#b5a19c; 
--blue_gray_100_00:#d9d9d900; 
--red_A200:#fa6464; 
--gray_900:#4c241d; 
--red_300:#f86b6b; 
--amber_300:#ffce56; 
--teal_50:#e5efef; 
--black_900_3f:#0000003f; 
--red_100:#fbdbdb; 
--black_900:#000000; 
--red_300_6b:#f778786b; 
--white_A700:#ffffff; 
}